@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15%;
  padding: 5%;
}

a {
  display: flex;
  gap: 5%;
}

.nav_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10%;
}

.nav_left img,
.nav_left p {
  display: inline-block;
  vertical-align: middle;
}

.nav_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20%;
}

.logo {
  font-weight: 900;
  font-size: 36px;
  line-height: 50px;
  color: #005fa3;
}

ul {
  font-family: 'Lato', 'Lucida Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #222222;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
}

.dropbtn {
  background-color: #fff;
  color: #4caf50;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 160px;

  margin-bottom: 11px;
  text-align: left;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active {
  background-color: #4caf50;
  color: white;
}

@media screen and (max-width: 600px) {
  .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
    background-color: #f9f9f9;
  }
  .dropdown {
    display: block;
    width: 100%;
  }
  .dropdown-content {
    position: static;
    display: none;
    width: 100%;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .dropdown-content a {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  .active {
    background-color: transparent;
  }
}
.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px 15px;
  border: none;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.intro_slide {
  background-image: url('/assets/desktop/images/introbackground.svg');
  background-color: transparent;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  color: #ffffff;
}

button {
  width: 270px;
  height: 60px;
  background: #005fa3;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin-top: 5%;
  color: #ffffff;
  cursor: pointer;
}

.mainslider {
  position: relative;
  overflow: hidden;
  padding: 13%;
  margin: 15%;
  min-height: 65%;
}

.myslide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.myslide:first-child {
  display: block;
}

.mydots {
  text-align: center;
  margin-top: 10px;
}

.mydot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
}

.mydot.active {
  background-color: #555;
}

.myarrows {
  position: absolute;
  display: flex;
  align-items: end;
  bottom: 10px;
  right: 10px;
  gap: 50px;
}

.arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid #555;
  border-width: 0 3px 3px 0;
  margin-left: 10px;
  cursor: pointer;
}

.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

h2 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #bdbdbd;
}

p {
  font-family: 'Merriweather', 'Lucida Sans';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #333333;
}

.header_container2 {
  padding: 10%;
}

.images_container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 15%;
  position: relative;
  cursor: pointer;
}

.images_container2 img {
  width: 30%;
  margin: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.images_container2 img:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #3498db;
  box-shadow: 0px 0px 10px 0px #3498db;
}

.images_container2 img:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 152, 219, 0.5);
  z-index: 1;
}

.post h2 {
  font-family: 'Merriweather', 'Lucida Sans';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #333333;
}

.post p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15%;
  gap: 5%;
}

.cubes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 35em;
}

.cube {
  width: 255px;
  height: 255px;
  margin: 10px;
  background-color: #ebebeb;
  padding: 5%;
  cursor: pointer;
}

.cube:hover {
  border: 4px solid #005fa3;
}

.posts {
  width: 445px;
  height: 435px;
}

.cubetext1 .cubetext2 .cubetext3 {
  font-family: 'Lato';
  font-style: normal;
}

.cubetext1 {
  font-weight: 900;
  font-size: 55px;
  line-height: 66px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.cubetext2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding-top: 10%;
  padding-bottom: 20%;
  max-width: 107px;
  color: #000000;
}

.cubetext3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #005fa3;
}

.container4 {
  background-color: #ebebeb;
  padding: 10%;
}

.company {
  width: 255px;
  height: 130px;
  padding-top: 5%;
  margin-bottom: 5%;
}

.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide {
  display: none;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  min-width: 65em;
}

.slider-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 4px;
  cursor: pointer;
}

.slider-dot.active {
  background-color: #717171;
}

.slider-arrows {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 20px;
  margin-top: 10px;
}

.slider-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  cursor: pointer;
}

.slider-arrow-left {
  border-width: 15px 20px 15px 0;
  border-color: transparent #555 transparent transparent;
  margin-right: 10px;
}

.slider-arrow-right {
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #555;
  margin-left: 10px;
}

.container5 {
  padding: 10%;
}

.my-testimonials {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  background-color: #ebebeb;
  padding: 5%;
  margin-top: 5%;
}

.my-testimonials img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.dots-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
}

.dotstest {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #ccc;
  cursor: pointer;
}

.dotstest-active {
  background-color: #333;
}

.right-arrow {
  width: 60px;
}

.left-arrow {
  width: 60px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.container6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-image: url('/assets/desktop/images/footerimg.svg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer_left {
  padding: 10% 5%;
  max-width: 50%;
}

.footer_right {
  padding: 10% 5%;
  max-width: 50%;
}

.text_footer {
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #ffffff;
}

.text2_footer,
.text3_footer,
.text4_footer,
.label,
#first_name,
#last_name,
#message {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
}

.text2_footer {
  font-size: 18px;
  line-height: 25px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.text3_footer,
.text4_footer {
  font-size: 21px;
  line-height: 29px;
}

.footer_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2%;
}

.phone_footer,
.mail_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5%;
  width: 100%;
  padding-top: 10%;
}

#first_name,
#last_name,
#message {
  background-color: transparent;
  border: none;
  color: #bdbdbd;
  border-bottom: thin solid #ffffff;
  padding-top: 5%;
  padding-bottom: 3%;
}

#message {
  max-height: 16vh;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.submit {
  width: 270px;
  height: 60px;
  background: #005fa3;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  float: right;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Merriweather', 'Lucida Sans';
  font-style: normal;
}
