@mixin body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', 'Lucida Sans';
  font-style: normal;
}

@mixin list {
  font-family: 'Lato', 'Lucida Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #222222;
  list-style: none;
}

@mixin backgroundimg {
  width: 100vw;
}

@mixin headerl {
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  color: #ffffff;
}

@mixin header {
  font-family: 'Merriweather', 'Lucida Sans';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #333333;
}

@mixin header2 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #bdbdbd;
}
@mixin posttext {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

@mixin postheader {
  font-family: 'Merriweather', 'Lucida Sans';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #333333;
}

@mixin companysize {
  width: 255px;
  height: 130px;
}

@mixin button {
  width: 270px;
  height: 60px;
  background: #005fa3;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}

@mixin scrollTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px 15px;
  border: none;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
