@mixin body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather";
  font-style: normal;
}

@mixin list {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #222222;
  list-style: none;
}

@mixin backgroundimg {
  width: 100vw;
}

@mixin header {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #333333;
}

@mixin header2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: #bdbdbd;
}
@mixin posttext {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

@mixin postheader {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #333333;
}

@mixin companysize {
  width: 255px;
  height: 130px;
}
