$bluestyle: #005fa3;
$blackstyle: #000000;

.post h2 {
  @include postheader;
}

.post p {
  @include posttext;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15%;
  gap: 5%;
}

.cubes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 35em;
}

.cube {
  width: 255px;
  height: 255px;
  margin: 10px;
  background-color: $greybg;
  padding: 5%;
}

.cube:hover {
  border: 4px solid $bluestyle;
}

.posts {
  width: 445px;
  height: 435px;
}

.cubetext1 .cubetext2 .cubetext3 {
  font-family: 'Lato';
  font-style: normal;
}

.cubetext1 {
  font-weight: 900;
  font-size: 55px;
  line-height: 66px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $blackstyle;
}

.cubetext2 .cubetext3 {
  font-weight: 700;
  font-size: 14px;
}

.cubetext2 {
  line-height: 18px;
  padding-top: 10%;
  padding-bottom: 20%;
  max-width: 107px;
  color: $blackstyle;
}

.cubetext3 {
  line-height: 17px;
  text-decoration-line: underline;
  color: $bluestyle;
}
