$whiteText: #ffffff;

.container6 {
  display: flex;
  justify-content: space-around;
  background-image: url('/assets/desktop/images/footerimg.svg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer_left {
  padding: 10% 5%;
  max-width: 50%;
}

.footer_right {
  padding: 10% 5%;
  max-width: 50%;
}

.text_footer {
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: $whiteText;
}

.text2_footer,
.text3_footer,
.text4_footer,
.label,
#first_name,
#last_name,
#message {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  color: $whiteText;
}

.text2_footer {
  font-size: 18px;
  line-height: 25px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.text3_footer,
.text4_footer {
  font-size: 21px;
  line-height: 29px;
}

.footer_bottom {
  display: flex;
  gap: 2%;
}

.phone_footer,
.mail_footer {
  display: flex;
  align-items: center;
  gap: 5%;
  width: 100%;
  padding-top: 10%;
}

#first_name,
#last_name,
#message {
  background-color: transparent;
  border: none;
  color: $textlgrey;
  border-bottom: thin solid $whiteText;
  padding-top: 5%;
  padding-bottom: 3%;
}

#message {
  max-height: 16vh;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.submit {
  @include button;
  color: $whiteText;
  float: right;
}
